{% raw %}
{# shares.tf.j2 #}

### Share {{ share_key }} ###
resource "databricks_share" "{{ share_key }}" {
  name = "{{ share_key }}"
  object {
    name                        = "{{ object_name }}"
    data_object_type            = "{{ object_type }}"
    history_data_sharing_status = "{{ history_status|default('ENABLED') }}"

    {%- if partition_name and partition_op and partition_key %}
    partition {
      value {
        name                   = "{{ partition_name }}"
        op                     = "{{ partition_op }}"
        recipient_property_key = "{{ partition_key }}"
      }
    }
    {%- endif %}
  }
}

### Grants for {{ share_key }} ###
resource "databricks_grants" "{{ share_key }}_grant" {
  share = databricks_share.{{ share_key }}.name

  {%- for recipient in recipients %}
  grant {
    principal  = "{{ recipient }}"
    privileges = ["SELECT"]
  }
  {%- endfor %}
}
{% endraw %}
