{# .github/workflows/templates/test.tf.j2 #}
resource "databricks_share" "{{ resource_name }}" {
  name = "{{ resource_attribute_name }}"
}


# Terraform code die het type resource 'databricks_share' aanmaakt,
# met de resource naam 'name', en ook een attribuut/configuratie 'name'
